body{
    font-family: roboto
}
ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;

}
li a{
    text-align:center;
    text-decoration:none;
    padding: 10px 10px;
    color:black;
    display:block;
    font-size:15px;
}
li{
float:left;
}
li a:hover{
    text-decoration:underline;
}
.floatRight{
    float:right;
}
.flex{
    display:flex;
    background-color:grey;
    flex-wrap:wrap;
}
.header{
    width:100%;
}
.image{
    display:flex;
    height: 100px;
    width:auto;
    justify-content:center;

}
